# Masukan APP ID ambil di web my.telegram.org
API_KEY = "14200817"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "1f217c5d594a79ce7576802dfa0688f1"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOLsBu4WSg3YKSU5VMckpyLbIc_gXhAuQlnEXfVcw3K-ez1vViqjksskEjx9Qlh4QD7ZmjwdE51rlxVwJiQ57oV_Ya_RgNqsC-Us8HF8Fi-FNTnmcfpeMjlfNR5PNO3Bh2eCiVJpQNmB4LINb-F67dlC3mnkEldGYm4v1Ygom_GKPH3yHVDWRFBsww4GrxWvX2ito4pXK0fm5-JOA-uJvCu0Uv6MvN_N_jpRcjENHv_m4AaS3F5wygqnQA3IjcoVJXx4iLzJu0rtJaBT44_Fi-7KeQmilxTv6zcHJh7sJf9Wf1hMnuIOd-SqLzI15dMNvkbtiDjClAZVEDvVsgPGUK40Ombs="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5496690279:AAEqiMrvQcTs_eW5CNzhw63KP5XuRUD_zcI"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://qhfqcweh:c8Ew52O5IoJH64tRYg0GADXxnMnU7GfQ@mouse.db.elephantsql.com/qhfqcweh"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

