# Masukan APP ID ambil di web my.telegram.org
API_KEY = "15962402"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "84935c7f904f28e915da126500b173a2"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOKQBu2rT1Xn-Oj2jbUXKAmL4MlRvm5y-ZkceNm4JEgOWUiK_KM7ZbXU6pmNSUkSyLLfU76Wuti6ZFRbFa-mhQcDdeRtuJtFXlUll5Ck9CeRFwjjNuazscZDmrjuyLjo0fxjdG236D3w_kYXIgpwAia8Jrc1TRri0fUEALsKlk5AgOHz6bfEJNAkx7KTNcryNu4mqYBO-A-Gw0ylvykv1q713gQNWSVdK2MYIF9XUIKoj-1fMNyezY-lnYRLT1ZnF0mDOO6OjFC5FkCcNLgA2VvVTB9n7GvjHtByJ-j5lgvgu49KgBEa3APOgeFgerfS-VfcPPRmwXTwX_26rtX45AEUMYDI="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5937517471:AAHbyY5IcRonOgCE7pWQrC9ljYrZvHSW6mc"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://qhfqcweh:c8Ew52O5IoJH64tRYg0GADXxnMnU7GfQ@mouse.db.elephantsql.com/qhfqcweh"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

